<ion-grid no-padding style="width:100%;">
  <ion-row justify-content-center>
    <ion-col size="12" size-md="6" size-xl="4">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <form>
            <ion-list>
              <ion-item>
                <ion-label color="primary">Inline Label</ion-label>
                <ion-input type="email" placeholder="Text Input"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="primary">Inline Label</ion-label>
                <ion-input type="password" placeholder="Text Input"></ion-input>
              </ion-item>

            </ion-list>

            <ion-row size="12">
                <ion-col size="6">
                  <ion-button size="default" expand="full">Full Button</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button size="default" expand="full">Full Button</ion-button>
                </ion-col>
              </ion-row>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>